@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

html,
body {
    background-color: #090911;
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Poppins', sans-serif;
    display: flex;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
a,
div {
    padding: 0;
    margin: 0;
}

.app-mount {
    display: flex;
}

.app-wrapper {
    margin: 1rem 1rem 1rem 1rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    overflow-wrap: break-word;
}

.sidebar {
    flex-shrink: 0;
}

.sidebar-menu-with-margin {
    margin-top: 32px;
    margin-bottom: 32px;
}

.sidebar-menu-item {
    margin-left: 2rem;
    user-select: none;
}

.sidebar-menu-item li {
    list-style: none;
    display: block;
}

.sidebar-menu-item a {
    width: 100%;
    text-decoration: none;
    color: #f26ea9;
}

.sidebar-menu-item a:visited {
    color: #f26ea9;
}

.sidebar-menu-item a:hover {
    color: #ff98dd;
}


.content-section-inner a {
    width: 100%;
    text-decoration: none;
    color: #f26ea9;
}

.content-section-inner a:visited {
    color: #f26ea9;
}

.content-section-inner a:hover {
    color: #ff98dd;
}


@keyframes fade-in-right {
    from {
        opacity: 0;
        transform: translateX(-15px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes grow-left {
    from {
        transform: scaleX(0);
    }

    to {
        transform: scaleX(1);
    }
}

@keyframes fade-in-down {
    from {
        opacity: 0;
        transform: translateY(-15px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.separator-wrapper {
    width: 2px;
    background-color: #f26ea9;
    animation: separate-the-content 0.4s forwards;
    position: relative;
    margin-left: 48px;
    margin-right: 48px;
    flex-shrink: 0;
}

@keyframes separate-the-content {
    0% {
        opacity: 0;
        transform: translateX(-15px);
        height: 0px;
    }

    100% {
        height: 100%;
        opacity: 1;
        transform: translateX(0);
    }
}

#fade-in-first {
    opacity: 0;
    animation: fade-in-right ease 0.4s forwards;
}

#fade-in-second {
    opacity: 0;
    animation: fade-in-right ease 0.4s forwards;
    animation-delay: 0.15s;
}

.spacer {
    width: 2rem;
}

.content {
    max-width: 48rem;
}

.content-with-margin {
    margin-top: 32px;
    margin-bottom: 32px;
}

.header {
    font-size: 24px;
    font-weight: 700;
}

.mini-header {
    font-size: 18px;
    font-weight: 700;
}

.with-small-bottom-margin {
    margin-bottom: 16px;
}

.with-very-small-bottom-margin {
    margin-bottom: 4px;
}


#fade-in-third {
    opacity: 0;
    animation: fade-in-right ease 0.4s forwards;
    animation-delay: 0.2s;
}

#fade-in-fourth {
    opacity: 0;
    animation: fade-in-down ease 0.4s forwards;
    animation-delay: 0.25s;
}

#fade-in-fifth {
    opacity: 0;
    animation: fade-in-down ease 0.4s forwards;
    animation-delay: 0.3s;
}

.content-section {
    background-color: #141424;
    padding: 32px;
    border-radius: 6px;
    transition: 0.2s ease-in-out;
}

.content-section:hover {
    background-color: #1b1b2c;
    /* outline: 2px solid #f26ea9; */
    /* border-left: 4px solid #f26ea9;
    margin-left: -4px; */
    transition: 0.2s ease-in-out;
}

.underline {
    position: relative;
}

.underline::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 2px;
    background-color: #ff98dd;
    transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) and (pointer: fine) {
    .underline:hover::before {
        left: 0;
        right: auto;
        width: 100%;
    }
}

.faded-color {
    color: #b3acaf;
}

.monotext {
    font-family: Consolas, Andale Mono WT, Andale Mono, Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono, Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Monaco, Courier New, Courier, monospace;
}

.ferosh-logo {
    width: 6rem;
}

.follow-button {
    text-align: center;
    text-decoration: none;
    padding: 8px 16px 8px 16px;
    background-color: #f26ea9;
    color: #090911;
    border-radius: 6px;
}

.follow-button:hover {
    background-color: #ff98dd;
}

.follow-button-secondary {
    text-align: center;
    text-decoration: none;
    padding: 8px 16px 8px 16px;
    background-color: #141424;
    color: white;
    border-radius: 6px;
}

.follow-button-secondary:hover {
    background-color: #1b1b2c;
}

.follow-buttons {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
}

.follow-buttons-in-card {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

@media(max-width:750px),
(orientation:portrait) and (pointer:coarse) {
    .app-wrapper {
        margin: 1rem;
        flex-direction: column;
        align-items: stretch
    }

    .sidebar-menu-item {
        align-items: center;
    }

    .content {
        margin-left: 0;
    }

    .separator-wrapper {
        display: none !important;
        visibility: 0 !important;
    }
}

.selected-sidebar-menu-item {
    border-left: 2px solid #ff98dd;
    padding-left: 0.5rem;
    pointer-events: none;
}

.twitter-card {
    border-right: 4px solid #76c2f5
}

.youtube-card {
    border-right: 4px solid #f87474
}

.github-card {
    border-right: 4px solid #86b7ee
}

.discord-card {
    border-right: 4px solid #8090ec;
}