/***   Variables   ***/
:root {
  --textPrimary: #FFC0CB;
  /* Primary text color. For body text.*/
  --textSecondary: #A65675;
  /* Secondary text color. used in conj. w/ Primary Header*/
  --glow: #E63567;
  --fullGlow: 0px -3px 35px var(--glow);

  --info: #66C1DE;
  /* Blue. Clickable things, links, and “info”. */

  --headerPrimary: #FD82A9;
  /* Primary color. For headers, highlights*/
  --headerSecondary: #A65675;
  --bgPrimary: #1B1425;       /* Primary background color. */
  --bgSecondary: #20192C;     /* Secondary background color. */
  --bgTertiary: #271E35;
  --bgQuaternary: #231B31;

  --ftsz: max(12px, min(2.5vw, 2.5vh));
  --textGlow: 0px calc(-0.1 * var(--ftsz)) var(--ftsz) var(--glow);
}



/***   Init Defaults   ***/
* {
  font-family: "Consolas";
  font-weight: bold;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

html {
  overflow: hidden;
  height: 100%;
  
}

body {
  height: 100%;
  overflow: hidden;
  margin: 0;
  color: var(--bgPrimary);
  background-color: var(--bgPrimary);
}

p, li {
  color: var(--textPrimary)
}

#app {
  height: 100vh;
  width: 100vw;
}



/***   Link Styles   ***/
a {
  text-decoration: none;
  color: var(--info) !important
}

  .link {
    color: var(--info);
    line-height: 1.3rem;
    text-decoration: none;
  }

  .link:after {
    content: '';
    display: block;
    height: 1.5px;
    border-radius: 2px;
    width: 0;
    background: transparent;
    transition: width .7s ease, background-color .7s ease;
  }

  .link:hover:after {
    width: 100%;
    background: var(--info) !important
  }


/***   MAIN GRID LAYERS   ***/
.video-container {
  display: grid;
  z-index: 0;

  height: 100vh;
  width: 100vw;
  max-width: 100vw;
}

  .background-video {
    /* position: absolute; */
    width: max(100vw, 100vh);
    height: max(100vw, 100vh);

    object-fit: cover;
  }

  .video-overlay {
    grid-area: 1 / 1 ;
    z-index: -1;

    /* box-shadow either needs fixing or its subtle */
    /* gonna adjust the blur radius then, i think the spread is fine. set opacity to 1 */
    box-shadow: inset 0px 0px 48px 36px rgba(27, 20, 37, 1);
    min-width: 0px;
    overflow: hidden
  }

  .image-overlay {
    grid-area: 1 / 1 ;
    z-index: 0;

    width:100vw;
    max-width: 100vw;
    display: flex;
    justify-content: flex-end;
    box-shadow: inset 0px 0px 100px 40px rgba(27, 20, 37, 1);
    background-color: rgba(27, 20, 37, .3);
  }
    .image-overlay > img {
      height: max(680px, max(100vh, 47vw));
      margin-right: -1px
    }

  .main-page {
    grid-area: 1 / 1 ;
    z-index: 1;

    display: grid;
    grid-template-rows: calc(100vh - 5%) 5% ; 
  }



/***   CONTENT   ***/
.content { 
  grid-area: 1 / 2 / 2 / 3;
  display: flex;
  flex-direction: column;
  gap: calc(1vh * 1 );
  padding: 2.5%;

  
  min-width: calc(var(--ftsz) * 36);
  width: min(43vw, 170vh);
  max-width: calc(100vw - 5%);
  
  
  justify-self: flex-end;
  /* padding: 5% 5% 0px 0px; */
}
  @media only screen and (max-width: 425px) {
    .content {
      min-width: 0px;
      width: calc(100vh - 5%);
    }
  }
  .title-group{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: auto;
    width: 100%;
  }
    .title-text{
      color: var(--headerPrimary);
      text-shadow: var(--textGlow);
      font-size: calc(3.5 * var(--ftsz));
      margin: 0px
    }
    .title-social {
      align-items: center;
      width: 100%;
      justify-content: space-evenly;
      display: flex;
    }   
    .title-social > img {
        opacity: 0.5;
        transition: opacity 0.3s, transform 0.3s;
      }
      .title-social > img:hover { 
        opacity: 1
      }
      .title-social > img:active { 
        animation: handleClick .3s
      }
      @keyframes handleClick {
        0%  {transform: scale(1.1)}
        100% {transform: scale(1)}
      } 
    .btn {
      height: calc(var(--ftsz) * 2)
    }
    .discord-btn {
      height: calc(var(--ftsz) * 1.8)
    }

  .sub-header {
    color: var(--headerSecondary);
    font-size: calc( 1.8 * var(--ftsz));
    margin: 0px
  }

  .blurb {
    font-size: calc( 1.2 * var(--ftsz));
    font-weight: normal;
  }

  /* .bullets > li {
    margin: 8px 0px 8px 0px
  } */
  .bullets {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    align-items: center;
    gap: 200%;
    font-size: calc(1.1 * var(--ftsz));
  }
  .bullets > li::marker {
    content: "> ";
    color: var(--textSecondary);
    font-weight: bolder;
    font-size: calc(1.7 * var(--ftsz));
  }
  .bullets > li {
    width: 70%
  }



/***   INFO   ***/
.info { 
  grid-area: 2 / 1 / 3 / 3;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 1% 2% 1% 1%;
  /* background-color: rgba(27, 20, 37, 0.9); */
}
  .attribution {
    color: var(--textSecondary);
    text-shadow: var(--textGlow);
    font-size:  calc(1.1 * var(--ftsz));
  }

  .info-source-group {
    display: flex;
    flex-direction: row;
    font-weight: normal;
    font-size: calc(0.9 * var(--ftsz));
    gap: calc(1vw * 3);
  }

  .info-source-group > button {
    background-color: var(--info);
    border-radius: 5px;
    outline: none;
    border-color: var(--info);
    font-size: calc(0.9 * var(--ftsz));
    padding: 1% 0px 1% 0px
  }